<!DOCTYPE html>
<html>
  <head>
    <title>Interaktionskoll</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/apple-touch-icon-152x152.png') }}">
    <link rel="shortcut icon" sizes="196x196" href="{{ url_for('static', filename='images/shortcut-icon-196x196.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/app.css') }}">
    <script src="{{ url_for('static', filename='translations/sv.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/vendor.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/app.js') }}"></script>
    {% if config.DEBUG %}<script>require('debug');</script>{% endif %}
    <script>require('initialize');</script>
  </head>
  <body>
    <div id="loading-view"></div>
    <div id="alerts-view"></div>
    <div id="login-view" class="container"></div>
    <div id="search-view" class="container"></div>
    <div id="interactions-view" class="container"></div>
  </body>
</html>
